$PADDING_DEFAULT: 15px;
$title-color: red;

@import "./layouts/landing.scss";

.title {
  text-transform: uppercase;
  font-family: Arial, sans-serif;

  h2 {
    text-decoration: underline;
    color: $title-color;
  }
}

h2 {
  color: blue;
}

code {
  background-color: #f2f2f2;
  border: black 1px solid;
  padding: $PADDING_DEFAULT;
}